@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-secondary-50 text-secondary-900 dark:bg-secondary-900 dark:text-secondary-100;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-secondary-300 dark:bg-secondary-700 rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-secondary-400 dark:bg-secondary-600;
}
